.desktopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 100px;
    margin: 50px 10px;
}

.hr {
    border-bottom: 1px solid rgb(51, 51, 51);
    width: min(1100px, 90vw);
}

.mobileWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mobileContainer {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin: 50px 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: min(500px, 90vw);
}
.textContainer > h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}
.textContainer > h2 {
    font-size: 20px;
    margin-top: 5px;
    font-family: var(--font-poppins);
    font-weight: 200;
}
.textContainer > ul {
    line-height: 1.5;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tagContainerCentered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pageLink {
    color: #ffb84e;
    padding: 10px 0;
    text-align: center;
    align-self: center;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px
}
.pageLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px
}

.image {
    object-fit: contain;
    width: 100%;
    height: 250px;
    max-width: 500px;
}

.mainImage {
    object-fit: contain;
    width: min(600px, 90vw);
    height: 100%;
    margin: 50px 0;
}

.categoryText {
    font-size: 20px;
    text-align: center;
}
