.projects {
    background-color: var(--background-color);
    padding-bottom: 50px;
}
.projects > h2 {
    margin: 0;
    padding-top: 100px;
    text-align: center;
    color: var(--text-color);
    font-size: min(30px, 10vw);
}