body {
    margin: 0;
}

:root {
    /* --background-color: #005073; */
    --background-color: rgb(38, 44, 62);
    --nav-bg-color: rgb(38, 44, 62);
    --button-bg-color: rgb(27, 31, 44);
    --text-color: white;
    --cursor-blink-color: rgb(193, 193, 193);
}

.dark-mode {
    --background-color: rgb(38, 44, 62);
    --nav-bg-color: rgb(38, 44, 62);
    --button-bg-color: rgb(27, 31, 44);
    --text-color: white;
    --cursor-blink-color: rgb(193, 193, 193);
}