body {
    margin: 0;
}

:root {
    /* --background-color: #005073; */
    --background-color: white;
    --nav-bg-color: rgb(13, 14, 17);
    --text-color: white;
}

.dark-mode {
    --background-color: black;
    --text-color: white;
    --nav-bg-color: rgb(13, 14, 17);
}