.container {
    min-height: calc(100vh - 120px);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    color: var(--text-color);
    text-align: center;
}
.hero > h1 {
    font-family: var(--font-poppins);
    font-size: min(100px, 14vw);
    margin-bottom: 20px;
    /* opacity: 0; */
    animation: floatUp 1s;
    /* animation-fill-mode: forwards; */
    /* animation-delay: 0.5s; */
    text-shadow: 0 0 50px black;
}
@keyframes floatUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0px); opacity: 1;}
}

.hero > h4 {
    font-size: min(22px, 7vw);
    margin-top: 0;
}

.skillsWave1 {
    background-image: url('/images/wave1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc((111/777)*100vw); 
}
.skillsWave2 {
    background-image: url('/images/wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc((118/777)*100vw); 
}
.skills {
    background: linear-gradient(#00344B, #022637);
    margin: -2px 0;
    padding-bottom: 50px;
    height: 100%;
    position: relative;
    z-index: 20;
}

.projects {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.contact {
    padding: 0 75px 75px 75px;
    background-color: #00344B;
}
.contact > h2 {
    text-align: center;
    color: var(--text-color);
    font-size: min(30px, 10vw);
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: -2px;
}
