
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: min(450px, 95vw);
}

.form label {
    color: var(--text-color);
    margin-left: 0;
}

.form h1 {
    color: var(--text-color);
    padding-bottom: 50px;
}

.form input {
    width: min(450px, 90vw);
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: var(--font-inter);
    border: none;
    border-radius: 5px;
}

.form textarea {
    width: min(450px, 90vw);
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: var(--font-inter);
    border: none;
    border-radius: 5px;
}

.submit {
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid rgb(136, 136, 136);
    background-color: var(--button-bg-color);
    color: var(--text-color);
}
.submit:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    color: black;
}
.submitting {
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid rgb(136, 136, 136);
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: progress;
}
.submitting:hover {
    cursor: progress;
}
 
@media only screen and (max-width: 600px) {
    .inputContainer {
        flex-direction: column;
    }
    .textareaContainer {
        flex-direction: column;
        align-items: center;
    }
}

